.logo {
    height: 75px; /* Set a fixed height */
    width: 100%;
    max-width: 75px;
    background-color: lightgray;
    border-radius: 50%;
    background-image: url(https://picsum.photos/200);
    background-size: cover;
    display: block;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav {
    display: flex;
    gap: 10px;
}